<%- include('header'); -%>

<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html"> Blood Bank Management system <i class="icon-heart" aria-hidden="true"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

           
    </nav>
    <!-- END nav -->

    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div id="particles-js"></div>
        <div class="py-3 wrap-login300 bg-white pcontainInnerHoriz">
            
            <form class="login100-form validate-form bg-white" method="post" action="/bcomp_donations/<%= message %>">
                <!--Title-->
                <span class="pb-3 pt-3 login100-form-title">
					Enter info
				</span>
                <!--End Title-->
                <!--Inputs-->
               
                <div class="wrap-input100 validate-input m-t-10" data-validate="Enter blood units">
                    <input class="input100" type="number" name="units" placeholder="blood units" required>
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-t-10" data-validate="Enter blood component">
                    <input class="input100" type="text" name="comp" placeholder="blood component" required>
                    <span class="focus-input100"></span>
                </div>
               
                
                
                

                <!--End Inputs-->
                <!--Remember Me and Forgot Me-->
                
                <!--End Remember Me and Forgot Me-->
                <!--Login Button-->
                <br>
                <div class="container-login100-form-btn pt-2">
                    <button class="login100-form-btn btn" type="submit">
						complete donations
					</button>
                  
                </div>
                <!--End Login Button-->
                <!--Login with social media-->
                
                <!--End Login with social media-->
            </form>
        </div>
    </div>
    <!-- loader -->
    <%- include('footer'); -%>
    
