<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blood Bank</title>
    <link rel="icon" href="images/giphy.gif">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800" rel="stylesheet">
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/utils.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.css">

    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="/css/magnific-popup.css">

    <link rel="stylesheet" type="text/css" href="/css/aos.css">

    <link rel="stylesheet" type="text/css" href="/css/ionicons.min.css">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.timepicker.css">


    <link rel="stylesheet" type="text/css" href="/css/flaticon.css">
    <link rel="stylesheet"type="text/css"  href="/css/icomoon.css">
    <link rel="stylesheet"type="text/css"  href="/css/style.css">
    <link rel="stylesheet"type="text/css"  href="/css/login.css">
    


<!-- Latest compiled and minified JavaScript -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <link rel="stylesheet"  type= "text/css" href="/css/dashboard.css">

</head>
