<%- include('h_header'); -%>

<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html"> Blood Bank Management system <i class="icon-heart" aria-hidden="true"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item"><a href="/user" class="nav-link">User</a></li>
                    <li class="nav-item"><a href="/bbank" class="nav-link">Blood Bank</a></li>
                   
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <!-- <div class="js-fullheight"> -->
       <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div id="particles-js"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                       <!-- <strong> Save Lives</strong></h1>
                    <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
                        <a href="contact.html" class="btn btn-primary btn-outline-white px-5 py-3">Get in touch</a></p>-->
                </div>
            </div>
        </div>
    </div> 


    <p >helloo</p>
    <section class="ftco-section">
       
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-6 text-center heading-section ftco-animate">
                    <span class="subheading">Our Aim</span>
                    <h2 class="mb-4">Prevent Loss of life due to delay in Blood transfusion </h2>
                    <p>Every 2 seconds someone in India needs Blood.Less than 10% of the Population donate regularly.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="d-flex justify-content-center">

                            <img src="/images/blood-plus.svg" alt="hello">
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">What we do ?</h3>
                            <p>We connect blood donors with recipients, without any intermediary,for an efficient and seamless process.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="d-flex justify-content-center">
                            <img src="/images/global-health.svg" alt="">

                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Network</h3>
                            <p>Savelife is one of several community organizations working together as a network that responds to emergencies in an efficient manner.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="d-flex justify-content-center">
                            <img src="/images/save.svg" alt="">
                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Innovative</h3>
                            <p>Savelife is one of several community organizations working together as a network that responds to emergencies in an efficient manner.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block text-center">
                        <div class="d-flex justify-content-center">
                            <img src="/images/free.svg" alt="">


                        </div>
                        <div class="media-body p-2 mt-3">
                            <h3 class="heading">Save Life</h3>
                            <p>We are a non profit foundation and our main objective is to make sure that everything is done to protect vulnerable persons. Help us by making a gift !</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   

    <section class="ftco-section">
        <div class="container">
            <div class="row no-gutters justify-content-center mb-5 pb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <span class="subheading">Works</span>
                    <h2 class="mb-4">What is this all about ?.</h2>
                    <p>We solve the problem of blood emergencies by connecting blood donors directly with people in need of blood.</p>
                </div>
            </div>
            <div class="row">
                <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">


                    <a href="portfolio.html" class="image" style="background-image: url('/images/volenteer.jpg'); " data-scrollax=" properties: { translateY: '-20%'}"></a>

                    <div class="text">
                        <h4 class="subheading">Illustration</h4>
                        <h2 class="heading"><a href="portfolio.html">Volunteers are the real heroes</a></h2>
                        <p>
                            We depend on volunteers! Volunteers make up 96% of our total workforce and carry on our humanitarian work. Blood donation is healthy, our volunteers are available 24/7 to help and donate blood. Blood banks store blood bags but our volunteers are there
                            with you in an emergency for a blood transfusion real time. Donating blood or platelets can be intimidating and even scary for many people. Time to put those hesitations and fears aside. Learn from Savelife Connect blood and
                            platelet donors how simple and easy it is to roll up a sleeve and help save lives.</p>
                    </div>
                </div>
                <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">

                    <a href="portfolio.html" class="image image-2 order-2" style="background-image: url('/images/cef58128383186c0b86de77f53e39e866eae10a2.jpg');" data-scrollax=" properties: { translateY: '-20%'}"></a>
                    <div class="text order-1">
                        <h4 class="subheading">About our Volunteers</h4>
                        <h2 class="heading"><a href="portfolio.html">Have you given blood before?</a></h2>
                        <p>Sometimes we prioritise appointments for regular donors. As we know their blood type, this helps us collect the right amount of each blood type to meet demand.</p>
                    </div>
                </div>
                <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">

                    <a href="portfolio.html" class="image" style="background-image: url('/images/5798cce3c0de46605188b58e84ca508f0bb30e99.jpg'); " data-scrollax=" properties: { translateY: '-20%'}"></a>
                    <div class="text">
                        <h4 class="subheading"> Test your blood</h4>
                        <h2 class="heading"><a href="portfolio.html">Your blood type</a></h2>
                        <p>There are more appointments for donors with blood types that people often need, such as O negative. On the other hand, there are fewer appointments for blood types where demand is lower, such as AB positive.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-counter" id="section-counter">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-5">
                <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                    <h2>Our achievements</h2>
                    <p> Blood Bank </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center">
                        <div class="text">
                            <strong class="number" data-number="400">0</strong>
                            <span>Benefited People</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center">
                        <div class="text">
                            <strong class="number" data-number="1000">0</strong>
                            <span>Donors</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 text-center">
                        <div class="text">
                            <strong class="number" data-number="8">0</strong>
                            <span>Banks</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

   

    <!--  FOOTER ---------------------------------------------------------------->
   <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Blood Bank <i class="icon-heart" aria-hidden="true"></i></h2>
                        <p>We solve the problem of blood emergencies by connecting blood donors directly with people in blood need.</p>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-5">
                        <h2 class="ftco-heading-2">Quick Links</h2>
                        <ul class="list-unstyled">
                            <li class="nav-item"><a href="/user" class="nav-link">User</a></li>
                            <li class="nav-item"><a href="/bbank" class="nav-link">Blood Bank</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Contact Information</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">9 ack Street, Cairo, Egypt.</a></li>
                            <li><a href="#" class="py-2 d-block">+ 1234 5678 90</a></li>
                            <li><a href="#" class="py-2 d-block">email@yoursite.com</a></li>
                            <li><a href="#" class="py-2 d-block">email@email.com</a></li>
                        </ul>
                    </div>
                </div> -->
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">


                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER ---------------------------------------------------------------->


    <!-- loader -->
   
    <%- include('h_footer'); -%>